body
  font-family: Ubuntu, Helvetica, Arial, Sans-Serif
  background-color: #5AB7D6
  text-align: center

.container
  background-color: #fff
  margin: 50px auto
  border-radius: 20px
  width: 30%
  padding: 20px

h1, h2
  font-family: Noto Sans, Verdana, Arial, Helvetica, Sans-Serif
  font-weight: 500
  letter-spacing: 1px
  color: #2A73A3

.codey
  color: #3797D6
  font-family: Monospace
  text-decoration: none
  font-size: 18px

.list
  font-size: 24px
  width: 65%
  margin: 20px auto

a.codey:hover
  color: #2A73A3

input
  padding: 5px
  margin: 5px
  border-radius: 4px
  &[type='text']
    border-width: 2px
    border-style: solid
    border-color: #2A73A3
  &[type='submit']
    position: relative
    top: -2px
    background-color: #2A73A3
    border: none
    box-shadow: 0 4px #1A4866
    color: #fff
    &:active
      box-shadow: 0 2px #1A4866
      transform: translateY(2px)
      outline: none
    &:focus
      outline: none
    